APP_NAME="Zizini.co.ke"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://test.zizini.co.ke

LOG_CHANNEL=stack
LOG_LEVEL=debug
CACHE_STORE=file
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=true
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

ADMIN_EMAIL=admin@zizini.co.ke
ADMIN_PASSWORD=password

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=zizini
DB_USERNAME=postgres
DB_PASSWORD=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
